@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-5">
    <h1 class="display-4">Actividad Autonoma - Jose Andres Falcon Altamirano</h1>
    <p>Haz clic en Pokemones en el menú de arriba para ver el catálogo.</p>
</div>